build/
my_test/
.vscode/
pdf_files/
__pycache__/
*.pyc
temp/

tests/fixtures/config/
tests/fixtures/plugins/

*.log
*.pdf
*.rst
# 忽略所有 .exe 可执行文件
*.exe


# 忽略所有 .tex 可执行文件
*.tex

# 忽略所有 .typ 文件
*.typ
